Library/Artifacts/f8/f8d0bd7c60c36fd6991fccf9d6f79048 filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Object/ivory-plaque-with-nativity-scenes/source/CG_005_blender_meshlab_1/CG_005_blender_meshlab_1.obj filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Object/da-vinci-workshop/source/Davinci/davinci.dae filter=lfs diff=lfs merge=lfs -text
